---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "about",
	description: "My name is Carlos and I am a software engineer.",
};
---

<PageLayout meta={meta}>
	<style>
		ul.list-inside {
        	padding-left: 20px; /* Adjust the left margin as needed */
      	}
	  
	  	ul.list-inside li {
        	margin-bottom: 10px; /* Adjusts the spacing between list items */
      	}

	  	blockquote {
        	padding-left: 20px; /* Adjust the left margin as needed */
      	}

		div {
        	text-align: justify;
      	}
	</style>

	<div class="space-y-6">
		<h2 class="title">About me</h2>
		<p>
			I am excited to share a bit about myself with you!
		</p>
		<p>
			My name is <strong>Carlos</strong> and I am a <strong>software engineer</strong>. 
			I graduated in Industrial Engineering in Seville and I have always been passionate about technology and software development, 
			thanks to that, I have been working on it remotely over the last few years.
		</p>

		<h2 class="title">Tools & Technologies</h2>

		<p>I have a few favorite things when it comes to technology:</p>

		<ul class="list-inside list-disc">
			<li>🐍 <strong>Python</strong>: This is the language I feel most comfortable with and the one I mainly use in my work and in my daily life. I am familiar with frameworks like <strong>Django</strong> for API development and libraries like <strong>Pandas</strong> and <strong>Numpy</strong>.</li>
			<li>🐧 <strong>Linux</strong>: I've always loved trying out new distributions and desktop environments. Linux is the operating system I use in my work and personal life.</li>
			<li>🤖 <strong>AI & Machine Learning</strong>: I have a strong interest in AI and machine learning and have been exploring various applications of these technologies in areas such as natural language processing, computer vision, and predictive modeling.</li>
			<li>🖥️ <strong>System administration</strong>: For many years I have been able to manage cloud-based systems and currently own a server at home, with several self-hosted services using <strong>Docker</strong> containers and other technologies.</li>
			<li>🏴‍☠️ <strong>Cybersecurity</strong>: It has always been one of my main hobbies, for more than 10 years I have been analyzing malware, studying attack vectors, ways to protect against remote attacks and promoting good security practices.</li>
		</ul>

		<p>I have also been able to try my hand at web development, with basic knowledge of HTML, CSS, JavaScript/TypeScript and using frameworks like Angular for the creation of SPAs. And now, Astro!</p>

		<h2 class="title">Hobbies</h2>

		<p>When I'm not coding, I love reading and I'm a huge fan of author <strong>Brandon Sanderson</strong>. I also enjoy experimenting with different ways to prepare <strong>coffee</strong>, I'm always looking for new recipes and beans to try. I also like to play basketball and practice gymnastics on rings.</p>

		<blockquote>
			<p>“And so, does the destination matter? Or is it the path we take? I declare that no accomplishment has substance nearly as great as the road used to achieve it. We are not creatures of destinations. It is the journey that shapes us. Our callused feet, our backs strong from carrying the weight of our travels, our eyes open with the fresh delight of experiences lived.”</p>
		</blockquote>
		<p><strong>― Brandon Sanderson, The Way of Kings</strong></p>
	</div>
</PageLayout>
